name: Publish NuGet

on:
  push:
    tags:
      - '*'

jobs:
  publish-nuget:

    name: publish-nuget
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
    - uses: actions/checkout@v3
    - name: "Install .NET SDK"
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          7.0.x
        global-json-file: "./global.json"

    - name: Install MAUI Workloads
      run: |
        dotnet workload install maui --ignore-failed-sources

    - name: Create Packages
      run:  dotnet pack /p:PackageVersion=${{ github.ref_name }} -c Release -o ./output

    - name: Push Packages
      run: dotnet nuget push "output/*.nupkg" -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json

    - name: release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: false
        prerelease: false
        release_name: 'Akka.Hosting.Maui ${{ github.ref_name }}'
        tag_name: ${{ github.ref }}
        body_path: RELEASE_NOTES.md
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Upload Release Asset
      uses: AButler/upload-release-assets@v2.0
      with:
          repo-token: ${{ github.token }}
          release-tag: ${{ github.ref_name }}
          files: 'output/*.nupkg'
